@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 2.5rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  background: var(--yellow);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 150%;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--gray-500);
}

h3 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
}

h4 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 150%;
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 0.875rem;
  }

  h3,
  h4 {
    font-size: 0.75rem;
  }
}
